# requirements.txt (runtime)
pandas               # Manipulación de datos y DataFrames
openpyxl>=3.1
psycopg2-binary      # Driver para conectar con PostgreSQL
python-decouple>=3.8
tkcalendar           # Widget DatePicker para Tkinter
pillow>=10.2
XlsxWriter           # Motor para exportar DataFrame → Excel
reportlab            # Generación de archivos PDF
python-dateutil      # Parseo y manejo avanzado de fechas