# requirements-dev.txt
black                # Formateador de código
isort                # Ordenar imports
flake8               # Linter Python
flake8-bugbear
flake8-docstrings
mypy
pre-commit
pytest               # Pruebas unitarias
pytest-postgresql
pyinstaller
sphinx
mkdocs-material
mkdocstrings[python]
pymdown-extensions
mkdocs-mermaid2-plugin
pytest-cov>=4.0
