# requirements-dev.txt
black
isort
flake8
flake8-bugbear
flake8-docstrings
mypy
pre-commit
pytest
pytest-postgresql
pyinstaller
sphinx
mkdocs-material
mkdocstrings[python]
pymdown-extensions
mkdocs-mermaid2-plugin
pytest>=7.0
pytest-cov>=4.0
pytest-postgresql
